* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url('../assets/background.png');
}

#infographics{
    display: flex;
    justify-content: space-between;
}

#score, #health, #level {
    font-size: 1.7rem;
    position: absolute;
    color: White;
    font-weight: 200;
    top: -80px;
}

#begin, #end {
    position: absolute;
    color: White;
    font-weight: 200;
}

#score{
    left: 15%;
}

#health {
    left: 47%;
}

#level {
    left: 80%;
}

#begin, #end {
    left: 0; 
    right: 0; 
    top: 40%;
    margin: auto;
    width: 350px;
    font-size: 4rem;
    background-color: rgb(141, 40, 40);
    border-radius: 20px;
    padding: 0 20px;
    font-weight: 600;
}

#begin:hover, #end:hover{
    cursor: pointer;
    font-size: 4.2rem;
    left: 0; 
    right: 0; 
    top: 40%;
    margin: auto;
    width: 360px;
}

#end {
    display: none;
}

#end:hover span {
    display: none;
}

#end:hover:before {content: "New Game"}